<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Your comments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="bg-dark">
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-userDTO'"></nav>
<div class="wrapper">
    <div class="container m-t-86 text-white">
        <h2 class="text-center mb-3">Your comments:</h2>
        <div th:each="commentDTO: ${comments}" class="row mb-4 justify-content-center">
            <a th:href="@{/question/{questionId}(questionId=${commentDTO.answerDTO.questionDTO.id}, page=0, size=5, sort='ratingDTO,desc', sort='id')}" role="button" class="btn btn-warning col-md-8 text-left p-2 d-block question-card-link">
                <div class="white-space-pre-wrap" th:text="${commentDTO.value}"></div>
                <div class="text-right" th:text="'Author: ' + ${commentDTO.userDTO.name}"></div>
                <div class="text-right" th:text="'Creation date: ' + ${commentDTO.creationDate}"></div>
            </a>
        </div>
        <nav  th:if="${comments.totalPages > 1}">
            <ul class="pagination  justify-content-center">
                <li class="page-item" th:classappend="${comments.pageable.pageNumber == 0}? 'disabled': ''">
                    <a class="page-link" th:href="@{{link}(link=${#httpServletRequest.requestURI}
                       , page=0, size=5)}">First
                    </a>
                </li>
                <li class="page-item" th:classappend="${comments.pageable.pageNumber == 0}? 'disabled': ''">
                    <a class="page-link" th:href="@{{link}(link=${#httpServletRequest.requestURI}
                       , page=${comments.pageable.pageNumber - 1}, size=5)}">Previous
                    </a>
                </li>
                <li th:each="paginationNumber: ${paginationNumbers}" class="page-item"
                    th:classappend="${comments.pageable.pageNumber + 1 == paginationNumber}? 'active' : ''">
                    <a class="page-link" th:text="${paginationNumber}"
                       th:href="@{{link}(link=${#httpServletRequest.requestURI}
                       , page=${paginationNumber - 1}, size=5)}">
                    </a>
                </li>
                <li class="page-item" th:classappend="${comments.pageable.pageNumber + 1 == comments.totalPages}? 'disabled': ''">
                    <a class="page-link" th:href="@{{link}(link=${#httpServletRequest.requestURI}
                       , page=${comments.pageable.pageNumber + 1}, size=5)}">Next
                    </a>
                </li>
                <li class="page-item" th:classappend="${comments.pageable.pageNumber + 1 == comments.totalPages}? 'disabled': ''">
                    <a class="page-link" th:href="@{{link}(link=${#httpServletRequest.requestURI}
                       , page=${comments.totalPages - 1}, size=5)}">Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
