<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-user'"></nav>
<div class="wrapper bg-dark h-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card bg-secondary text-white">
                    <div class="card-header">
                        <h3>Edit profile</h3>
                    </div>
                    <div class="card-body">
                        <form action="#" th:action="@{/profile/edit}" method="post">
                            <div th:if="${errorMsgs}" class="alert alert-danger">
                                <ul th:each="errorMsg: ${errorMsgs}">
                                    <li th:text="${errorMsg}"></li>
                                </ul>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-form-label col-3">Nickname: </label>
                                <input id="name" type="text" name="name" th:value="${formUser.name}" class="form-control col-9">
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-form-label col-3">Password: </label>
                                <input id="password" type="password" name="password" class="form-control col-9" placeholder="Leave empty if u only edit nickname">
                            </div>
                            <div class="form-group row">
                                <label for="password-r" class="col-form-label col-3">Password (again): </label>
                                <input id="password-r" type="password" name="password_repeated" class="form-control col-9" placeholder="Leave empty if u only edit nickname">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Edit" class="btn btn-primary float-right login_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
