<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Forgot password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body class="bg-dark">
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-userDTO'"></nav>
<div class="wrapper">
    <div class="container m-t-86">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card bg-secondary text-white">
                    <div class="card-header">
                        <h3>Change forgotten password</h3>
                    </div>
                    <div class="card-body">
                        <form action="#" th:action="@{/forgot-password}" method="post"
                        th:object="${user}">
                            <div th:if="${errorMsg}" class="alert alert-danger"
                                 th:text="${errorMsg}">
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-form-label col-sm-2 d-none d-sm-block text-center">Email: </label>
                                <label for="email" class="col-form-label d-block d-sm-none">Email: </label>
                                <input id="email" class="form-control col-sm-10" type="email" th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Change" class="btn btn-primary float-right login_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
