<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Ask Questions - main page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/random-facts.js"></script>
</head>
<body class="bg-dark">
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-userDTO'"></nav>
<div class="wrapper">
    <div class="container-fluid p-0 mx-0 row justify-content-center m-t-86 text-white">
        <div class="col-md-2 row justify-content-center">
            <div id="random-fact-div" class="col-12 d-none d-md-block">
                <div class="border border-warning">
                    <div class="h5 text-center mt-2">
                        Random fact:
                    </div>
                    <div class="loading d-flex justify-content-center">
                        <div  class="spinner-border text-warning" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="random-fact question-card-link mx-1 mb-2 text-warning">
                    </div>
                </div>
            </div>
            <div class="col-12 d-block d-md-none">
                <div class="border border-warning">
                    <div class="h5 text-center mt-2">
                        Random fact:
                    </div>
                    <div class="loading d-flex justify-content-center">
                        <div  class="spinner-border text-warning" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="random-fact question-card-link mx-1 mb-2 text-warning">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row mb-3 justify-content-center">
                <div class="col-md-12 d-flex justify-content-end align-items-center">
                    <div class="h4">
                        Show questions based on:&nbsp;
                    </div>
                    <select id="based-on" class="col-md-4 custom-select custom-select-lg bg-dark text-white">
                        <option value="creation-date">creation date</option>
                        <option value="popularity-today">popularity of today</option>
                        <option value="popularity-in-7-days">popularity of 7 days</option>
                        <option value="popularity-in-30-days">popularity of 30 days</option>
                        <option value="popularity-in-all-time">popularity of all time</option>
                    </select>
                </div>
            </div>
            <div id="creation-date"
                 class="row mb-4 justify-content-center hidden">
                <a th:each="questionDTO: ${newestQuestions}" th:href="@{/question/{questionId}(questionId=${questionDTO.id}, page=0, size=5, sort='rating,desc', sort='id')}"
                   role="button" class="btn btn-warning col-md-12 text-left p-2 question-card-link mb-4">
                    <div class="white-space-pre-wrap" th:text="${questionDTO.value}"></div>
                    <div class="d-flex justify-content-end">
                        <figure class="d-flex flex-column justify-content-center align-items-center mb-0">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ questionDTO.userDTO.avatar}">
                            <figcaption class="text-center" th:text="${questionDTO.userDTO.name}">></figcaption>
                        </figure>
                    </div>
                    <div class="text-right" th:text="'Creation date: ' + ${questionDTO.creationDate}"></div>
                </a>
            </div>
            <div style="display: none;" id="popularity-today"
                 class="row mb-4 justify-content-center hidden">
                <a th:each="questionDTO: ${mostPopularQuestionsToday}" th:href="@{/question/{questionId}(questionId=${questionDTO.id}, page=0, size=5, sort='rating,desc', sort='id')}"
                   role="button" class="btn btn-warning col-md-12 text-left p-2 question-card-link mb-4">
                    <div class="white-space-pre-wrap" th:text="${questionDTO.value}"></div>
                    <div class="d-flex justify-content-end">
                        <figure class="d-flex flex-column justify-content-center align-items-center mb-0">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ questionDTO.userDTO.avatar}">
                            <figcaption class="text-center" th:text="${questionDTO.userDTO.name}">></figcaption>
                        </figure>
                    </div>
                    <div class="text-right" th:text="'Creation date: ' + ${questionDTO.creationDate}"></div>
                </a>
            </div>
            <div style="display: none;" id="popularity-in-7-days"
                 class="row mb-4 justify-content-center hidden">
                <a th:each="questionDTO: ${mostPopularQuestionsInSevenDays}" th:href="@{/question/{questionId}(questionId=${questionDTO.id}, page=0, size=5, sort='rating,desc', sort='id')}"
                   role="button" class="btn btn-warning col-md-12 text-left p-2 question-card-link mb-4">
                    <div class="white-space-pre-wrap" th:text="${questionDTO.value}"></div>
                    <div class="d-flex justify-content-end">
                        <figure class="d-flex flex-column justify-content-center align-items-center mb-0">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ questionDTO.userDTO.avatar}">
                            <figcaption class="text-center" th:text="${questionDTO.userDTO.name}">></figcaption>
                        </figure>
                    </div>
                    <div class="text-right" th:text="'Creation date: ' + ${questionDTO.creationDate}"></div>
                </a>
            </div>
            <div style="display: none;"  id="popularity-in-30-days"
                 class="row mb-4 justify-content-center hidden">
                <a th:each="questionDTO: ${mostPopularQuestionsInThirtyDays}" th:href="@{/question/{questionId}(questionId=${questionDTO.id}, page=0, size=5, sort='rating,desc', sort='id')}"
                   role="button" class="btn btn-warning col-md-12 text-left p-2 question-card-link mb-4">
                    <div class="white-space-pre-wrap" th:text="${questionDTO.value}"></div>
                    <div class="d-flex justify-content-end">
                        <figure class="d-flex flex-column justify-content-center align-items-center mb-0">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ questionDTO.userDTO.avatar}">
                            <figcaption class="text-center" th:text="${questionDTO.userDTO.name}">></figcaption>
                        </figure>
                    </div>
                    <div class="text-right" th:text="'Creation date: ' + ${questionDTO.creationDate}"></div>
                </a>
            </div>
            <div style="display: none;"  id="popularity-in-all-time"
                 class="row mb-4 justify-content-center hidden">
                <a th:each="questionDTO: ${mostPopularQuestions}" th:href="@{/question/{questionId}(questionId=${questionDTO.id}, page=0, size=5, sort='rating,desc', sort='id')}"
                   role="button" class="btn btn-warning col-md-12 text-left p-2 question-card-link mb-4">
                    <div class="white-space-pre-wrap" th:text="${questionDTO.value}"></div>
                    <div class="d-flex justify-content-end">
                        <figure class="d-flex flex-column justify-content-center align-items-center mb-0">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${questionDTO.userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ questionDTO.userDTO.avatar}">
                            <figcaption class="text-center" th:text="${questionDTO.userDTO.name}">></figcaption>
                        </figure>
                    </div>
                    <div class="text-right" th:text="'Creation date: ' + ${questionDTO.creationDate}"></div>
                </a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        function hideAll() {
            $(".hidden").hide();
        };
        $("#based-on").change(function () {
            hideAll();
            let value = $(this).val();
            $(`#${value}`).show();
        });
    })
</script>
</body>
</html>
