<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-userDTO'"></nav>
<div class="wrapper bg-dark h-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-secondary text-white">
                    <div class="card-header d-flex row">
                        <div class="col-3">
                            <img height="75" width="75" th:if="${userDTO.avatar == null}" src="/images/user.png">
                            <img height="75" width="75" th:if="${userDTO.avatar != null}" th:src="*{'data:image/png;base64,'+ userDTO.avatar}">
                        </div>
                        <div th:unless="${#authentication.getAuthorities().toArray()[0].toString() eq 'ADMIN'}" class="col-9">
                            <h3 th:text="${userDTO.name}"></h3>
                            <div th:text="${'Points: ' + usersPointsAndRanking.points}"></div>
                        </div>
                        <div th:if="${#authentication.getAuthorities().toArray()[0].toString() eq 'ADMIN'}" class="col-9 d-flex row">
                            <div class="col-10">
                                <h3 th:text="${userDTO.name}"></h3>
                                <div th:text="${'Points: ' + usersPointsAndRanking.points}"></div>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-danger" data-toggle="modal" data-target="#deleteLoggedUser">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal " id="deleteLoggedUser" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content bg-secondary">
                                <div class="modal-header">
                                    <h5 class="modal-title text-white">Are u sure?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="text-white" aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="#"
                                          th:action="@{{link}/delete(link=${#httpServletRequest.requestURI})}">
                                        <div class="row justify-content-around">
                                            <button type="button" class="btn btn-danger col-3" data-dismiss="modal">No
                                            </button>
                                            <input type="submit" class="btn btn-primary col-3" value="yes">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush navList">
                        <a class="nav-link list-group-item bg-secondary text-white" th:href="@{/user/{userId}/questions(userId=${userDTO.id})}">Questions</a>
                        <a class="nav-link list-group-item bg-secondary text-white" th:href="@{/user/{userId}/answers(userId=${userDTO.id})}">Answers</a>
                        <a class="nav-link list-group-item bg-secondary text-white" th:href="@{/user/{userId}/comments(userId=${userDTO.id})}">Comments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    $("#upfile1").click(function () {
        $("#file1").trigger('click');
    });
</script>
</body>
</html>
