<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Users ranking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="bg-dark">
<nav sec:authorize="!isAuthenticated()" th:replace="navbars :: 'navbar'"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="navbars :: 'navbar-userDTO'"></nav>
<div class="wrapper">
    <div class="container m-t-86 text-white">
        <h2 class="text-center mb-3">Top 100 users:</h2>
        <table class="table table-hover table-secondary table-bordered">
            <thead>
            <tr class="bg-warning">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
            </tr>
            </thead>
            <div th:each="user: ${rankedUsers}">
                <tr style="transform: rotate(0);">
                    <th scope="row"   th:text="${user.rank}"></th>
                    <td >
                        <a class="stretched-link text-dark"  th:text="${user.userDTO.name}" th:href="@{/user/{userId}(userId=${user.userDTO.id})}">
                        </a>
                    </td>
                    <td th:text="${user.points}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
